.footer {
    color: white;
}
.footer-top {
    background-color: rgba(0, 0, 0, 0.603);
    padding: 10px;
}
.footer-top p {
    margin: 0;
    width: 60%;
    margin: 0 auto 10px;
}
.footer-top .logo {
    width: 100px;
    height: 100px;
}
.footer-bottom {
    background-color: black;
    padding: 10px;
}
.footer-bottom p {
    margin: 0;
}